{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe de votre compte sur Hackerz.

Veuillez suivre le lien ci-dessous pour définir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Votre nom d'utilisateur: {{ user.get_username }}

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email en toute sécurité.

Cordialement,
L'équipe Hackerz
{% endautoescape %} 